{% extends 'signupbase.html' %}
{% block content %}
{% load static %}
<!-- ======= Appointment Section ======= -->
<section id="appointment" class="appointment section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Login Here</h2>

        </div>
        <div>
            {% if signup.errors %}
            {% for field in signup %}
            {% for error in field.errors %}
            <div>
                <strong> {{field.name}} {{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div>
                <strong>{{ error.name }} {{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
        </div>
        <form class="php-email-form" method="POST">
            {% csrf_token %}
            <div class="text-center">
            <div class="row">
                <div class="col-md-12 form-group mt-3 mt-md-0 text-center">
                    <input type="text" name="username" class="form-control" id="username" placeholder="username" required>
                  </div>
                  <div class="col-md-12 form-group mt-3 mt-md-0 text-center">
                    <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
                  </div>
                
            </div>
        </div>
            <div class="text-center"><button name="btnSubmit" type="submit">Login</button></div>
        </form>

    </div>
</section><!-- End Appointment Section -->
{% endblock content %}