<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question type</title>
</head>
<body>
<section id="appointment" class="appointment section-bg">
    <div class="container">
    <div class="section-title">
        <h2>Question type</h2>
        </div>
<form action="" class="php-email-form" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="text-center">
    <button type="submit" value="submit">Submit</button>
    </div>
</form>
</div>
</section>
<!-- End Appointment Section -->
</body>
{% endblock content %}