<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demarcate Quiz</title>
</head>
<body>
<section id="appointment" class="appointment section-bg">
    <div class="container">
        <div class="section-title">
        <h2>Questions</h2>
        </div>
  <div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <ul class="list-group mb-3">
          {% for question in AllQuestions %}
        <a style="margin: 10px 0;font-size:28px;text-align:center" href="{% url 'questions:demarcateQuizDetail' question.idmarks %}" class="btn btn-outline-primary">
            {{question.question}}
        </a>
          {% endfor %}
      </ul>
    </div>
  </div>
</div>
    </div>
</section>
</body>
</html>
{% endblock content %}